<nav class="navbar navbar-expand-md bg-white border-bottom sticky-top shadow-sm">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand d-flex align-items-center gap-2 text-danger fw-bold" href="/">
      <i class="fa-solid fa-house"></i> AirStay
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <!-- Left Side -->
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">Add New Listing</a>
      </div>

      <!-- Right Side -->
      <div class="navbar-nav ms-auto gap-2">
        <% if (!user) { %>
          <a class="btn btn-outline-dark" href="/login">Login</a>
          <a class="btn btn-danger" href="/signup">Sign Up</a>
          <% } else { %>
            <a class="btn btn-outline-secondary" href="/logout">Logout</a>
          <% } %>
      </div>
    </div>
  </div>
  </div>
</nav>