<% layout("/layouts/boilerplate") %>

  <div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="col-md-8 col-lg-6 shadow p-4 rounded bg-light">
      <h3 class="mb-4 text-center">Create a New Listing</h3>

      <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">



        <!-- Title -->
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" id="title" placeholder="Enter title" type="text" class="form-control" required />
          <div class="valid-feedback"> Title looks good!</div>
        </div>

        <!-- Description -->
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" id="description" placeholder="Enter description" class="form-control"
            required rows="3"></textarea>
          <div class="invalid-feedback">Please enter a short Description</div>
        </div>

        <!-- Image URL -->
        <!-- <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input
          name="listing[image][url]"
          id="image"
          placeholder="Enter image URL"
          type="text"
          class="form-control"
        
        />
      </div> -->
        <!-- Image File -->
        <div class="mb-3">
          <label for="imageFile" class="form-label">Upload Image</label>
          <input name="image" id="imageFile" type="file" class="form-control" accept="image/*" required />
          <div class="invalid-feedback">Please upload an image file</div>

          <!-- Price & Country in same row -->
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="price" class="form-label">Price</label>
              <input name="listing[price]" id="price" placeholder="eg- 1000" class="form-control" required />
              <div class="invalid-feedback">Enter a valid price!</div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="country" class="form-label">Country</label>
              <input name="listing[country]" id="country" placeholder="eg- India" type="text" class="form-control"
                required />
              <div class="invalid-feedback">Country name should be valid</div>
            </div>
          </div>

          <!-- Location -->
          <div class="mb-4">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" id="location" placeholder="eg- Mumbai, Maharashtra" type="text"
              class="form-control" required />
            <div class="invalid-feedback">Location should be valid</div>
          </div>

          <div class="d-grid">
            <button class="btn btn-dark add-btn">Add Listing</button>
          </div>
      </form>
    </div>
  </div>